<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<settings>
		<!-- 언더바 to 카멜 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- NULL 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="LpVO" type="eumsae.model.LpVO"/>
		<typeAlias alias="CustomerVO" type="eumsae.model.CustomerVO"/>
		<typeAlias alias="MgrVO" type="eumsae.model.MgrVO"/>	
		<typeAlias alias="WishBoardVO" type="eumsae.model.WishBoardVO"/>	
	</typeAliases>
	
</configuration>