<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">
	<insert id="insertCustomer" parameterType="CustomerVO">
		INSERT INTO CUSTOMER(id,pwd,nick,birth,name,addr,tel,email)
		VALUES(#{id},#{pwd},#{nick},#{birth},#{name},#{addr},#{tel},#{email})
	</insert>

	<select id="idCheck" parameterType="CustomerVO" resultType="CustomerVO">
		SELECT * FROM CUSTOMER WHERE id=#{id}
		<if test="pwd != null">
		AND pwd=#{pwd}
		</if>
	</select>
	
	<delete id="deleteCustomer" parameterType="CustomerVO">
		DELETE FROM CUSTOMER WHERE id=#{id}
	</delete>
	
	<select id="selectCustomer" parameterType="hashmap" resultType="CustomerVO">
      SELECT *
      FROM CUSTOMER
      WHERE ${searchCon} LIKE '%${searchKey}%'
   </select>

	<update id="updateCustomer" parameterType="CustomerVO">
	UPDATE CUSTOMER 
	SET pwd=#{pwd},nick=#{nick},birth=#{birth},name=#{name},addr=#{addr},tel=#{tel},email=#{email}
	WHERE id=#{id}	
	</update>
	

</mapper>