<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">
	<insert id="insertCustomer" parameterType="CustomerVO">
		INSERT INTO CUSTOMER(id,pwd,nick,birth,name,addr,tel,email)
		VALUES(#{id},#{pwd},#{nick},#{birth},#{name},#{addr},#{tel},#{email})
	</insert>

	<select id="idCheck" parameterType="CustomerVO" resultType="CustomerVO">
		SELECT id,pwd FROM CUSTOMER WHERE id=#{id}
		<if test="pwd != null">
		AND pwd=#{pwd}
		</if>
	</select>
	

	<insert id="addCart" parameterType="CartVO">
	INSERT INTO cart (cartno, id, amount, lpno) VALUES (cart_seq.nextval, #{id}, #{amount}, #{lpno})
	</insert>
	
	<select id="cartlist" parameterType="CartListVO" resultType="CartListVO">
	SELECT i.infono AS infono, i.title AS title , l.lpno AS lpno, l.price AS price,c.cartno AS cartno, c.AMOUNT AS amount
	FROM lpinfo i INNER JOIN lp l 
	ON i.infono = l.infono JOIN cart c 
	ON l.lpno = c.lpno 
	</select>

	<delete id="deleteCustomer">
		DELETE FROM CUSTOMER WHERE id = #{id}	
	</delete>
	
	<select id="selectCustomer" parameterType="hashmap" resultType="CustomerVO">
      SELECT *
      FROM CUSTOMER
      WHERE ${searchCon} LIKE '%${searchKey}%'
   </select>


</mapper>