<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Lp">
	<insert id="insertLpinfo" parameterType="LpVO" useGeneratedKeys="true" keyProperty="infono" keyColumn="INFONO">
		INSERT INTO lpinfo(infono,genre,title,stitle,singer,region,content,lpdate,jpg,cjpg,jpg_size
		<if test="mp3 != null">
		,mp3,cmp3,mp3_size
		</if>
		)		
		VALUES (lp_info_seq.nextval,#{genre},#{title},#{stitle},#{singer},#{region},#{content},#{lpdate},#{jpg},#{cjpg},#{jpgSize}
		<if test="mp3 != null">
		,#{mp3},#{cmp3},#{mp3Size}
		</if>
		)
	</insert>	
	
	<insert id="insertLp" parameterType="LpVO" useGeneratedKeys="true" keyProperty="lpno" keyColumn="LPNO">
		INSERT INTO lp(lpno,infono,cnt,price) 
		VALUES (lp_seq.nextval,#{infono},#{cnt},#{price})
	</insert>
	
	<select id="searchLp" parameterType="hashmap" resultType="LpVO">
		SELECT	*
		FROM	lpinfo
		<choose>
		<when test="searchCon == null">
		WHERE singer like '%${searchKey}%' OR title like '%${searchKey}%'
		</when> 
		<when test="searchCon != null">
		WHERE ${searchCon} LIKE '%${searchKey}%'
		</when>
		</choose>					
	</select>

	<select id="selectLp" parameterType="hashmap" resultType="LpVO">
		SELECT *
		FROM lpinfo i INNER JOIN lp l
		ON i.infono = l.infono
		<choose>
			<when test="searchCon == 'infono'">WHERE i.${searchCon} = #{searchKey}</when>
			<otherwise>WHERE ${searchCon} LIKE '%${searchKey}%'</otherwise>
		</choose>
	</select>
	
	<delete id="deleteLp" parameterType="LpVO">
		DELETE FROM lpinfo WHERE infono=#{infono}
	</delete>

	<select id="detail" parameterType="string" resultType="LpVO">
		SELECT *
		FROM lpinfo i INNER JOIN lp l
		ON i.infono=l.infono
		WHERE i.infono=#{infonoKey} 	
	</select>
	
	<select id="selectByLpNo" parameterType="int" resultType="LpVO">
		SELECT *
		FROM lpinfo i INNER JOIN lp l
		ON i.infono=l.infono
		WHERE l.lpno=#{lpno} 	
	</select>
	
	<update id="updateLp" parameterType="LpVO">
		UPDATE lpinfo SET genre=#{genre}, title=#{title}, stitle=#{stitle}, singer=#{singer}, region=#{region}, content=#{content}, lpdate=#{lpdate}
		<if test="jpg!=null">, jpg=#{jpg}, cjpg=#{cjpg}, jpg_size=#{jpgSize}</if>
		<if test="mp3!=null">, mp3=#{mp3}, cmp3=#{cmp3}, mp3_size=#{mp3Size}</if>
		WHERE infono = #{infono}
	</update>
	
	<select id="selectFeaturedNewReleases" resultType="LpVO">
		SELECT	singer, title, cjpg, infono
		FROM	lpinfo
		WHERE	SUBSTR(LPDATE,0,4) IN ('2020','2021','2022')
	</select>
	
	<select id="selectGenreBestSellers" parameterType="string" resultType="LpVO">
		SELECT	singer, title, cjpg, infono
		FROM	(SELECT		SUM(el.amount) amount, i.singer singer, i.title title, i.genre, i.cjpg cjpg, i.infono infono
				FROM		EORDER_LIST el INNER JOIN LP l
							ON el.lpno = l.lpno
							INNER JOIN LPINFO i
							ON l.infono = i.infono
				WHERE		genre = #{genre}
				GROUP BY 	i.singer, i.title, i.genre, i.cjpg, i.infono
				ORDER BY 	amount DESC)
		WHERE	ROWNUM = 1
	</select>
	
	<update id="updateAmount" parameterType="LpVO">
		UPDATE lp
		SET cnt = cnt + #{cnt}
		WHERE lpno = #{lpno}
	</update>
	
	<update id="updatePrice" parameterType="LpVO">
		UPDATE lp
		SET price = #{price}
		WHERE lpno = #{lpno}
	</update>

</mapper>