<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lpscan">
	<insert id="insertLp" parameterType="LpVO">
		INSERT INTO lp(lpno,infono,cnt,price) 
		VALUES (lp_seq.nextval,#{infono},#{cnt},#{price})
	</insert>
</mapper>