<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Order">

<insert id="insertOrder" parameterType="OrderVO" useGeneratedKeys="true" keyProperty="orderNo" keyColumn="ORDER_NO">
	INSERT INTO EORDER (order_no,order_date,order_total_price,id) 
	VALUES (seq_order.nextval,sysdate,#{orderTotalPrice},#{id})
</insert>

<insert id="insertOrderList" parameterType="OrderVO" useGeneratedKeys="true" keyProperty="orderListNo" keyColumn="ORDER_LIST_NO">
	INSERT INTO EORDER_LIST (order_list_no,order_date,order_no,lpno) 
	VALUES (seq_order_list.nextval,sysdate,#{orderNo},#{lpno})
</insert>


<select id="selectOrderCount" resultType="_long">
	SELECT COUNT(*) FROM eorder
</select>

<select id="selectOrder" parameterType="PaginationVO" resultType="OrderVO">
	SELECT *
	FROM eorder
	WHERE order_no IN (SELECT order_no 
						 FROM (SELECT rownum rnum, order_no 
						 	   FROM (SELECT order_no FROM eorder ORDER BY order_no DESC)) 
						 WHERE rnum BETWEEN #{startRow} AND #{endRow})
	ORDER BY order_no DESC
</select>

<select id="searchOrder" parameterType="hashmap" resultType="OrderVO">
	SELECT * FROM eorder WHERE ${searchCon} = '${searchKey}'
</select>

<select id="selectOrderListCount" resultType="_long">
	SELECT COUNT(*) FROM eorder_list
</select>

<select id="selectOrderList" parameterType="PaginationVO" resultType="OrderVO">
	SELECT	*
	FROM	eorder e LEFT OUTER JOIN eorder_list el
					 ON e.order_no = el.order_no
					 LEFT OUTER JOIN lp l
					 ON el.lpno = l.lpno
					 LEFT OUTER JOIN lpinfo i
					 ON l.infono = i.infono
	WHERE	e.order_no IN (SELECT order_no 
						   FROM (SELECT rownum rnum, order_no 
						 	     FROM (SELECT order_no FROM eorder ORDER BY order_no DESC)) 
						   WHERE rnum BETWEEN #{startRow} AND #{endRow})
	ORDER BY e.order_no DESC
</select>

<select id="searchOrderList" parameterType="hashmap" resultType="OrderVO">
	SELECT	* 
	FROM	eorder e LEFT OUTER JOIN eorder_list el
					 ON e.order_no = el.order_no
					 LEFT OUTER JOIN lp l
					 ON el.lpno = l.lpno
					 LEFT OUTER JOIN lpinfo i
					 ON l.infono = i.infono
	<choose>
		<when test="searchCon == 'id'">WHERE e.${searchCon} = '${searchKey}'</when>
		<when test="searchCon == 'order_no'">WHERE el.${searchCon} = '${searchKey}'</when>
		<otherwise>WHERE i.${searchCon} LIKE '%${searchKey}%'</otherwise>
	</choose>
</select>

</mapper>