<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WishBoard">
	<select id="selectBoard" parameterType="WishBoardVO" resultType="WishBoardVO">
	SELECT *
	FROM WISH_BOARD W inner join CUSTOMER C
	ON W.id = C.id
	ORDER BY W.WBOARD_NO DESC
		
	</select>
	
	<insert id="insertBoard">
	INSERT INTO WISH_BOARD (WBOARD_NO,ID,TITLE,ARTICLE,AWRITE_DATE,CCOMMENT) 
	VALUES (seq_wboard.nextval ,#{id},#{title},#{article},sysdate,#{ccomment})
	</insert>

</mapper>