<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WishBoard">
	<select id="selectBoard" parameterType="WishBoardVO" resultType="WishBoardVO">
	SELECT *
	FROM WISH_BOARD W inner join CUSTOMER C
	ON W.id = C.id
	ORDER BY W.WBOARD_NO DESC
		
	</select>
	
	<insert id="insertBoard">
	INSERT INTO WISH_BOARD (WBOARD_NO,ID,TITLE,ARTICLE,AWRITE_DATE,CCOMMENT) 
	VALUES (seq_wboard.nextval ,#{id},#{title},#{article},sysdate,#{ccomment})
	</insert>
	
	<select id="boardCount" resultType="_long">
	SELECT count(*) FROM WISH_BOARD
	</select>
	
	<select id="boardPg" parameterType="PaginationVO" resultType="WishBoardVO">
	SELECT * 
	FROM wish_board W FULL outer join CUSTOMER C
	ON w.id = c.id
	WHERE  w.wboard_no IN (SELECT wno
						 FROM (SELECT rownum rnum, wno
						 	   FROM (SELECT wboard_no wno FROM wish_board ORDER BY wboard_no DESC)) 
						 WHERE rnum BETWEEN #{startRow} AND #{endRow})
	ORDER BY w.wboard_no DESC 
	</select>

</mapper>